div.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


@media only screen and (max-width: 600px) {
  div.button-container {
    display: block;

    div {
      display: block;
    }
  }
}

.image-container {
  padding-top: 10vh;
  position: relative;
  width: 100%;

  div {
    position: absolute;
  }

  canvas {
    position: relative;
    z-index: 2;
  }
}

img {
  width: 100%;
}
